@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RegularNohemi';
  src: local('RegularNohemi'),
    url('./fonts/nohemi/Nohemi-Regular-BF6438cc579d934.woff') format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar */
}

/* Customize the scrollbar thumb (the draggable part) for the body element */
body::-webkit-scrollbar-thumb {
  background: #001a24; /* Background color of the thumb */
  border-radius: 5px; /* Rounded corners */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
